@import "../../settings/giveAwayFormMixins";


//----------------------------------------//
//                                        //
//                 STEP 1                 //
//                                        //
//----------------------------------------//


.giveaway-step-one {
  @include form-step-container(100rem, -100rem);

  .giveaway-warning-container {
    @include form-warning;
  }

  .step-one-body {
    @include form-body(0);

    .step-one-form {

      .step-one-title {
        font-size: 3.6rem;
        line-height: 4.2rem;
        margin-bottom: 4rem;

        @media (max-width: 450px) {
          width: 35rem;
        }
      }

      .form-checkbox-handler {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;


        .checkbox{
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 4rem;
          height: 4rem;
          background-clip: content-box;
          border: 0.075rem solid #3C3C3C;
          background-color: transparent;
          margin-right: 1.5rem;
          z-index: 7;

          &:checked {
            background-color: #FAD648;
          }
        }

        .checkbox-text {
          font-size: 2.4rem;
          line-height: 3.2rem;
        }
      }
    }


    .form-step-btn {
      @include button(6.3rem, 0, 0)
    }
  }
}


